.model-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 16px;
	margin: 0 auto;
	max-width: 1200px;
	overflow-x: hidden;
}

@media (max-width: 768px) {
	.model-card-container {
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		gap: 12px;
		max-width: 95%;
		overflow-x: hidden;
	}
}
