.filter-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
	gap: 20px;
}

.filter-group {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
}

.filter-label {
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;
	line-height: 2;
}

.filter-group select {
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.tag-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.tag-filter .filter-button {
	background-color: #f0f0f0;
	padding: 8px 16px;
	border-radius: 999px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 14px;
}

.tag-filter .filter-button:hover {
	background-color: #ddd;
}

.tag-filter .filter-button.active {
	background-color: black;
	color: white;
}

.toggle-tags-button {
	background: none;
	border: none;
	color: #666;
	font-size: 14px;
	cursor: pointer;
	margin-top: 10px;
	padding: 4px 8px;
	border-radius: 5px;
	transition: background-color 0.2s ease;
}

.toggle-tags-button:hover {
	background-color: #f2f2f2;
}
