.model-card {
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s;
}

.image-wrapper {
	position: relative;
	width: 100%;
}

.image-wrapper img {
	width: 100%;
	aspect-ratio: 3 / 4;
	object-fit: cover;
	display: block;
}

.favorite-icon {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	user-select: none;
	border-radius: 50%;
}

.card-icon {
	bottom: 8px;
	right: 8px;
	font-size: 18px;
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.3); /* 흰색 + 70% 불투명 */
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.favorite-icon:hover {
	transform: scale(1.1);
}
