.photo-form {
	max-width: 600px;
	margin: 0 auto;
	padding: 32px;
	background-color: #fff;
	color: #000;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.photo-form__title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 24px;
	text-align: center;
	color: #111;
}

.photo-form__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.photo-form__label {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 6px;
	color: #333;
	display: inline-flex;
	align-items: center;
	gap: 6px;
}

.photo-form__required {
	color: red;
	font-weight: bold;
}

.photo-form__input {
	padding: 10px 12px;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: #f9f9f9;
	font-size: 15px;
	transition: border-color 0.2s;
}

.photo-form__input:focus {
	border-color: #000;
	outline: none;
	background-color: #fff;
}

.photo-form__error {
	font-size: 13px;
	color: #d60000;
	margin-top: 4px;
}

.photo-form__submit {
	padding: 12px 16px;
	font-size: 16px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.photo-form__submit:hover {
	background-color: #222;
}
.photo-form__search-results {
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 8px;
	background-color: #fff;
	border-radius: 4px;
}

.photo-form__search-results ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 50px;
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

/* .photo-form__search-results li {
	margin-bottom: 4px;
} */

.photo-form__search-results button {
	background: none;
	border: 0.5px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	padding: auto;
	font-size: 1em;
}

.photo-form__search-results button:hover {
	/* text-decoration: underline; */
	background-color: #000;
	color: white;
}

.photo-form__selected-list {
	margin-top: 8px;
	display: flex;
	gap: 12px;
}

.photo-form__selected-list p {
	margin: 0 0 4px 0;
	white-space: nowrap;
}

.photo-form__selected-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.photo-form__selected-list li {
	background-color: #f0f0f0;
	border-radius: 16px;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.photo-form__selected-list button {
	background: none;
	border: none;
	margin-left: 8px;
	cursor: pointer;
	font-weight: bold;
	color: #333;
}

.photo-form__selected-list button:hover {
	color: #ff0000;
}
